
</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>© Copyrights <span id="year"></span> </p>
</footer>
</body>
<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>

</html>